/* :root {
  --lm-bg: #f5f5f5;
  --lm-txt: #101010;

  --dm-bg: #444;
  --dm-txt: #f5f5f5;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: var(--dm-bg);
    --txt: var(--dm-txt);
    color-scheme: dark;
  }
} */

:root {
  background-color: #faf9f6;
}
