---
import Layout from "../layouts/about.astro";
---

<Layout>
    <p class="text-gray-500">
        Inspired by <a href="https://sive.rs/nowff">Derek Sivers</a>
    </p>

    <p>
        So you two dig up, dig up dinosaurs? Remind me to thank John for a
        lovely weekend. Must go faster... go, go, go, go, go! Just my luck, no
        ice. You know what? It is beets. I've crashed into a beet truck. Just my
        luck, no ice. Must go faster... go, go, go, go, go!
    </p>
</Layout>
