---
import Layout from "../layouts/AboutLayout.astro";
---

<Layout>
  <!-- <p class="text-gray-500">
    Inspired by <a href="https://sive.rs/nowff" class="dark:text-dark-text"
      >Derek Sivers</a
    >
  </p> -->
  <div class="text-sm mb-2">
    <span class="text-gray-500">Updated on:</span>
    <span class="dark:text-dark-text">25-05-2024</span>
  </div>
  <ol class="not-prose dark:text-dark-text">
    <li>&#9913; Learning Fragment shaders</li>
    <li>&#9913; Reading - The stranger by Albert Camus</li>
    <li>&#9913; Tinkering this site</li>
    <li></li>
    <li></li>
  </ol>
  <!-- <p>1. Starting to write 2. sdfsd</p> -->
</Layout>
