---
import Layout from "../layouts/AboutLayout.astro";
---

<Layout>
    <div class="text-md mb-2 text-gray-400 italic">
        Updated on
        <time datetime="2024-05-27" class="tabular-nums shrink-0"
            >25 May, 2024</time
        >
    </div>
    <ol class="not-prose dark:text-dark-text">
        <li>&#9913; Learning Three.js</li>
        <li>&#9913; Reading - The stranger by Albert Camus</li>
        <li>&#9913; Tinkering this site</li>
        <li></li>
        <li></li>
    </ol>
</Layout>
