---
// import { SITE } from "astro:content";
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
  &copy; {today.getFullYear()} — Karthikeya
  <div class="social-links">
    <a href="https://github.com/weasel-0" target="_blank">Github </a>
    <!-- <a href={`${SITE.origin}/rss.xml`} target="_blank">RSS </a> -->
  </div>
</footer>
