---
const today = new Date();
import ThemeToggle from "../components/Theme.astro";
---

<footer class="flex flex-row justify-between text-xs my-16 dark:text-dark-text">
  &copy; {today.getFullYear()} — Karthikeya
  <div class="social-links flex gap-3">
    <ThemeToggle />
    <a href="https://github.com/weasel-0" target="_blank">Github</a>
  </div>
</footer>
